<!DOCTYPE html>
<html>
<head>
    <title>Kuyruk Manager</title>

    <style type="text/css">
        table {border-collapse: collapse; }
        table, th, td {border: 1px solid black; }
    </style>
</head>
<body>
    <nav>
        <a href="">Masters</a> |
        <a href="">Workers</a> |
        <a href="">Queues</a>
    </nav>
    <br>
    {% block body %}
    {% endblock %}
    <br>
    <footer>
        <hr>
        {{ now }} - Kuyruk Manager is running on host: {{ hostname }}
    </footer>
</body>
</html>
