{% extends "layout.html" %}

{% block body %}
    <table border="1">
        <tr>
            <th>Hostname</th>
            <th>IP</th>
            <th>Port</th>
            <th>Uptime</th>
            <th>Actions</th>
        </tr>
        {% for addr, master in sockets.items() %}
        <tr>
            <td>{{ master.stats.hostname }}</td>
            <td>{{ addr[0] }}</td>
            <td>{{ addr[1] }}</td>
            <td>{{ human_time(master.stats.uptime) }}</td>
            <td><a href="{{ url_for('reload', host=addr[0], port=addr[1]) }}">Reload</a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
