{% extends "layout.html" %}

{% block body %}
    <table border="1">
        <tr>
            <th>Hostname</th>
            <th>IP</th>
            <th>Port</th>
            <th>Uptime</th>
            <th>Load</th>
            <th>Actions</th>
        </tr>
        {% for addr, master in sockets.items() %}
        <tr>
            <td>{{ master.stats.hostname }}</td>
            <td>{{ addr[0] }}</td>
            <td>{{ addr[1] }}</td>
            <td>{{ human_time(master.stats.uptime) }}</td>
            <td>
                {% for l in master.stats.load %}
                    {{ l|round(2) }}
                {% endfor %}
            </td>
            <td>
                <a href="{{ url_for('action', name='reload', host=addr[0], port=addr[1]) }}">Reload</a>
                <a href="{{ url_for('action', name='warm_shutdown', host=addr[0], port=addr[1]) }}">Warm Shutdown</a>
                <a href="{{ url_for('action', name='cold_shutdown', host=addr[0], port=addr[1]) }}">Cold Shutdown</a>
            </td>
        </tr>
        {% else %}
        {% endfor %}
    </table>
{% endblock %}
