{% extends "layout.html" %}

{% block body %}
    <form method="POST">
        <table>
            <tr>
                <th>Hostname</th>
                <th>PID</th>
                <th>PPID</th>
                <th>Queue</th>
                <th>Uptime</th>
                <th>Actions</th>
            </tr>
            {% for addr, master in sockets|dictsort %}
            <tr>
                <td>{{ master.stats.hostname }}</td>
                <td>{{ master.stats.pid }}</td>
                <td>{{ master.stats.ppid }}</td>
                <td>{{ master.stats.queue.name }}</td>
                <td>{{ human_time(master.stats.uptime) }}</td>
                <td>
                    {{ action_button(addr, 'warm_shutdown', 'Warm Shutdown') }}
                </td>
            </tr>
            {% else %}
            {% endfor %}
        </table>
        Count: {{ sockets|count }}
    </form>
{% endblock %}
